{
  "presets": [
    ["env", {
      "module": false,
      "useBuiltIns" : true
    }],
    "react"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  },
  "plugins": [
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-runtime",
    "transform-object-rest-spread"
  ]
}
